<h1>Blabla</h1>
<table>
	<tr>
		<td>Prénom</td>
		<td>{{ contact.firstname }}</td>
	</tr>
	<tr>
		<td>Nom</td>
		<td>{{ contact.lastname }}</td>
	</tr>
	<tr>
		<td>Téléphone</td>
		<td>{{ contact.phone }}</td>
	</tr>
</table>